<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new posts</title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <h2 class="post">Create a New Post</h2>
   <div class="container">
    <form class="form" method="post" action="/posts">

        <div class="name">
            <input type="text" placeholder="Enter your name" name="userName">
        </div>
        <div class="content">
            <textarea name="content" id="text" cols="30" rows="10"  placeholder="Enter your Content"></textarea>
        </div>
        <div class="btn">
            <input type="submit">
        </div>
    </form>
   </div>
</body>
</html>