<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
</head>
<body>
    <h2>HERE IS YOUR POST IN DETAIL</h2>

    <div class="cont">
        <div class="user">
            <h3>Post id :   <%= post.id %></h3>
            <h1>UserName :  <%= post.userName %> </h1>
            <h2>Content : <%= post.content %></h2>
        </div>
    </div>
</body>
</html>